.footer {
  display: flex;
  width: 100%;
  background-color: #252525;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  padding-bottom: 10vh;
}

.footerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 31px 160px;
  width: 100%;
}

footer h5 {
  color: #ffffff;
  opacity: 0.5;
  text-transform: uppercase;
  margin-bottom: 24px;
}

footer ul {
  list-style-type: none;
}

.footer_about li,
.footer_get_in_touch li,
.footer_subscribe li {
  line-height: 24px;
  margin-bottom: 12px;
  color: #d8d8d8;
}

.footer_about li a,
.footer_get_in_touch li a,
.footer_subscribe li a {
  text-decoration: none;
  color: #d8d8d8;
}

.footer_about li a:hover,
.footer_get_in_touch li a:hover:not(.footer_get_in_touch li:last-child a) {
  cursor: pointer;
  border-bottom: 2px #fff solid;
}

.phoneNumber {
  margin-left: 12px;
}

.footer_subscribe li input[type="email"] {
  padding: 16px 24px;
  background-color: #3b3b3b;
  border: none;
}

.footer_subscribe li input[type="email"]::placeholder {
  font-weight: bold;
  font-size: 14px;
}

.btn {
  display: inline-block;
  padding: 10px 50px;
  border: 3.5px solid #8367d8;
  font-size: 18px;
  font-weight: bold;
  margin-left: 23px;
  transition: all 0.2s;
}

.btn:hover {
  transform: translateY(-3px);
  background-color: #313030;
}

.arrow {
  display: inline-block;
  color: #8367d8;
  width: 5.33px;
  height: 10px;
  margin-left: 17px;
  animation-name: arrowPath;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes arrowPath {
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0px);
  }
}
