header {
  background-color: #252525;
  color: #fff;
}

.header_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 179px;
  font-size: 14px;
  padding: 5px 0px;
}

nav {
  margin: 17.3px 185px;
  text-transform: uppercase;
  font-size: 18px;
}

.navBar_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navBar_searchBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px #e3e3e3 solid;
  padding: 15px 10px;
  width: 40%;
}

.navBar_searchBar input {
  border: none;
  outline: none;
  width: 90%;
  padding-right: 100px;
}

.navBar_searchBar input::placeholder {
  font-size: 16px;
  line-height: 19.2px;
  font-weight: 300;
}

.navBar_navigation {
  color: #000;
}

.navBar_navigation ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navBar_navigation ul li {
  margin: 0 15px;
  transition: 0.15s all;
}

.navBar_navigation ul li:hover {
  transform: translateY(-2px);
}

.navBar_navigation ul li a {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.navBar_navigation ul li .link_active {
  font-weight: 700;
  color: #8367d8;
}
